{% extends "AppBundle::admin.html.twig" %}

{% block content %}
    <a href="{{ path('admin_promo_key_add') }}" class="btn pull-right btn-h1"><i class="fa fa-plus"></i> {{ 'admin.promo_key_add'|trans }}</a>
    <a href="{{ path('admin_promo_key_generate') }}" class="btn pull-right btn-h1"><i class="fa fa-plus"></i> {{ 'admin.promo_key_generate'|trans }}</a>
    <h1>{{ 'admin.promo_keys_activated'|trans }}</h1>
    <hr>
    <br>
    <h2>{{ key.promo.name }} &ndash; {{ key.hash }}</h2>
    <dl>
        <dt>{{ 'admin.promo_key_type'|trans }}</dt>
        <dd>
            {% if key.type == 'site_access' %}
                Доступ к теор. курсу
            {% elseif key.type == 'training' %}
                Пакет рег. в ГИБДД
            {% endif %}
        </dd>

        <dt>{{ 'admin.promo_key_discount'|trans }}</dt>
        <dd>{{ key.discount }} {{ 'RUB'|trans}}</dd>

        <dt>{{ 'admin.promo_key_active'|trans }}</dt>
        <dd><i class="fa {{ key.active ? 'fa-plus' : 'fa-minus' }}"></i></dd>
    </dl>
    {% if pagerfanta.currentPageResults|length %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th>{{ 'admin.promo_key_activated'|trans }}</th>
                <th>{{ 'admin.promo_key_user'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for log in pagerfanta.currentPageResults %}
                <tr>
                    <td>
                        {{ log.createdAt|date('d.m.Y H:i') }}
                    </td>
                    <td>
                        <a href="{{ path('admin_paradox_user_view', {id: log.user.id}) }}">{{ log.user.email }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if pagerfanta.haveToPaginate %}
            {{ pagerfanta(pagerfanta, 'twitter_bootstrap_translated', { prev_message: '←', next_message: '→' }) }}
        {% endif %}
    {% else %}
        {{ 'no_data'|trans }}
    {% endif %}
    <div class="form-actions">
        <a class="btn pull-right" href="{{ path('admin_promo_keys', { id: key.promo.id }) }}"><i class="fa fa-arrow-left"></i> Вернуться в список промоключей</a>
    </div>
{% endblock content %}
