{% extends "AppBundle::admin.html.twig" %}
{% block content %}
    <h1>{{ 'admin.reg_stat_users'|trans }}</h1>
    <hr>
    <a id="filter_link" href="#"><i class="fa fa-caret-down"></i> Фильтр</a>
    <div id="filter">
        {{ form_start(filter_form) }}
        {{ form_widget(filter_form) }}
        <div class="form-actions">
            <button type="submit" class="btn btn-success pull-right">
                <i class="fa fa-filter"></i>
                <span>{{ 'buttons.filter'|trans }}</span>
            </button>
        </div>
        {{ form_end(filter_form) }}
    </div>
    <br>
    {% if pagerfanta.currentPageResults|length %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="min_col">{{ 'user_id'|trans }}</th>
                <th>{{ 'user_name'|trans }}</th>
                <th>{{ 'user_email'|trans }}</th>
                <th class="min_col">{{ 'user_category'|trans }}</th>
                <th class="min_col">{{ 'user_reg_method'|trans }}</th>
                <th class="min_col">{{ 'user_created_at'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for user in pagerfanta.currentPageResults %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.lastName }} {{ user.firstName }} {{ user.patronymic }}</td>
                    <td>{{ user.email }}</td>
                    <td class="min_col">{{ user.category ? user.category.name : '--' }}</td>
                    <td class="min_col">
                        {% if not user.UserStat %}
                            --
                        {% elseif user.UserStat.RegBy == 'offline' %}
                            {{ 'user_reg_offline'|trans }}
                        {% elseif user.UserStat.RegBy == 'offline_simple' %}
                            {{ 'user_reg_offline_simple'|trans }}
                        {% elseif user.UserStat.RegBy == 'api' and user.UserStat.RegType == 'paid_2' %}
                            {{ 'user_reg_api_paid_2'|trans }}
                        {% elseif (user.UserStat.RegBy == 'api' and user.UserStat.RegType == 'paid_1') %}
                            {{ 'user_reg_api_paid_1'|trans }}
                        {% endif %}
                    </td>
                    <td class="min_col">{{ user.createdAt|localizeddate('long', 'none') }}</td>
                    <td class="min_col">
                        {% if user != app.user %}
                            <a href="{{ path('admin_reg_stat_user_view', { id: user.id }) }}" class="nodecor text-primary"><i class="fa fa-eye"></i></a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if pagerfanta.haveToPaginate %}
            {{ pagerfanta(pagerfanta, 'twitter_bootstrap_translated', { prev_message: '←', next_message: '→' }) }}
        {% endif %}
        Всего: {{ pagerfanta.count }}
    {% else %}
        {{ 'no_data'|trans }}
    {% endif %}
{% endblock content %}

{% block js %}
    <script>
        $(function() {
            {% if app.request.queryString == '' %}
            $('#filter').hide();
            {% else %}
            $('#filter_default').hide();
            {% endif %}
            $('#filter_link').click(function() {
                $('#filter').toggle();
                {% if app.request.queryString == '' %}
                $('#filter_default').toggle();
                {% endif %}
                return false;
            });
        });
    </script>
{% endblock js %}
