{% extends "AppBundle::admin.html.twig" %}

{% block content %}
    <h3>{{ (app.request.get('_route') == 'admin_support_category_edit' ? 'admin.support_category_edit_title' : 'admin.support_category_add_title')|trans }}</h3>
    <hr>
    {{ form_start(form) }}
        {{ form_widget(form) }}

        <div class="form-actions">
            <button type="submit" class="btn btn-success">
                <i class="fa fa-download"></i>
                <span>{{ 'admin.buttons.save'|trans }}</span>
            </button>
            {% if app.request.get('_route') == 'admin_support_category_edit' %}
                <a href="{{ path('admin_support_category_delete', { id: category.id }) }}" class="btn btn-danger" onclick="return confirm('{{ 'you_sure'|trans }}')">
                    <i class="fa fa-trash-o"></i> <span>{{ 'admin.buttons.delete'|trans }}</span>
                </a>
            {% endif %}
            <a class="btn pull-right" href="{{ path('admin_support_categories') }}"><i class="fa fa-arrow-left"></i> {{ 'admin.buttons.back_to_list'|trans }}</a>
        </div>
    {{ form_end(form) }}
{% endblock content %}