{% extends 'AppBundle::admin.html.twig' %}
{% trans_default_domain 'transfer_payment' %}

{% block content %}
    <h3>{{ 'payment_information'|trans() }}</h3>
    <hr>
    <div class="mainContent">
        {{ form_start(form) }}
        <table class="table-condensed">
            <tr style="font-size:18px">
                <th class="text-right min_col">Ф.И.О. ученика:</th>
                <td>{{ log.user.fullName }}</td>
            </tr>
            <tr style="font-size:18px">
                <th class="text-right min_col">Код слушателя:</th>
                <td>{{ log.user.paradoxId }}</td>
            </tr>
            <tr>
                <th class="text-right min_col">Регион:</th>
                <td>{{ log.user.region }}</td>
            </tr>
            <tr>
                <th class="text-right min_col">Дата и время оплаты:</th>
                <td>{{ log.createdAt|localizeddate('medium') }}</td>
            </tr>
            <tr>
                <th class="text-right min_col">Платежная система:</th>
                <td>
                    {% if log.sType == 'psb' %}
                        {{ 'psb'|trans }}
                    {% elseif log.sType == 'robokassa' %}
                        {{ 'robokassa'|trans }}
                    {% elseif log.sType == 'api' %}
                        {{ 'api'|trans }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th class="text-right min_col">Номер транзакции:</th>
                <td>{{ log.sId }}</td>
            </tr>
            <tr>
                <th class="text-right min_col">Тип услуги:</th>
                <td>{{ service_type }}</td>
            </tr>
            <tr>
                <th class="text-right min_col">Стоимость:</th>
                <td>{{ log.sum|number_format(0, ',' , ' ') }} руб.</td>
            </tr>
            <tr>
                <th class="text-right min_col">Дата переноса:</th>
                <td>{{ form_widget(form.date) }}</td>
            </tr>

            {% if log.transferredAt is not null %}
            <tr>
                <th class="text-right min_col">Дата и время переноса платежа в Paradox:</th>
                <td>{{ log.transferredAt|localizeddate('medium') }}</td>
            </tr>
            <tr>
                <th class="text-right min_col">Платеж перенес в Paradox:</th>
                <td>{{ log.admin.fullName }}</td>
            </tr>
            {% endif %}
        </table>
        <hr>

        {{ form_widget(form) }}

        <div class="form-actions">
            {% if log.transferredAt is null %}
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-download"></i>
                    <span>Подтвердить</span>
                </button>
            {% endif %}

            <a class="btn pull-right" href="{{ list_route }}"><i class="fa fa-arrow-left"></i> Назад</a>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock content %}


