﻿<style>
ul, ul li{list-style-type:decimal}
body{margin:0}
</style>

<table width="100%" cellspacing="0" border="0" style="background:#f0f0f0">
    <tr>
        <td align="center" style="padding:0">
            <table width="560" border="0" cellpadding="0" cellspacing="0" style="font-family:Arial,Helvetica,sans-serif;border:solid 1px #ccc;margin-top:0" bgcolor="#FFFFFF">
                <tr>
                    <td align="center">
                        <table width="505" border="0" cellpadding="0" cellspacing="0" style="margin-top:9px">
                            <tr>
                                <td height="77" align="center" style="padding-top:10px">
                                    <img src="{{ 'http://'~_host }}/v2/img/mail_template/header.jpg">
                                </td>
                            </tr>
                            <tr style="height:1px">
                                <td>
                                    <img src="{{ 'http://'~_host }}/v2/img/mail_template/SLEl5.jpg" alt="" style="height:1px;width:100%">
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="middle" height="70">
                                    <span style="font-size:17px;color:#a62320;font-weight:bold">{{ title }}</span>
                                </td>
                            </tr>
                            <tr style="height:1px">
                                <td>
                                    <img src="{{ 'http://'~_host }}/v2/img/mail_template/SLEl5.jpg" alt="" style="height:1px;width:100%">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="{{ 'http://'~_host }}/v2/img/mail_template/photo.jpg">
                                </td>
                            </tr>
                            <tr><td>{{ message|raw }}</td></tr>
                            <tr>
                                <td style="font-size:10px;text-align:center;padding:20px 0 10px">
                                    Получить ответы на все интересующие Вас вопросы можно в разделе
                                    <a href="https://education.auto-online.ru/my/support/">«Обратная связь»</a>,<br>
                                    на нашем сайте или по телефону +7 (495) 666-3-000.<br>
                                    Если Вам не нравятся наши рассылки, Вы можете {{ unsubscribe_link|lower|raw }}.
                                    Но мы будем очень скучать!
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="center" height="55" bgcolor="#f0f0f0">
                        <span style="font-size:11px;color:#56595b">Вы получили это письмо, потому что зарегистрированы на портале<br>дистанционного обучения Автошколы Онлайн.</span>


                    </td>
                </tr>
                <tr>
                    <td align="center" valign="center" height="39" style="background:rgb(240,240,240)">
                        <span style="font-size:11px;color:#56595b;background:#fff;padding:9px 15px">Данное письмо отправлено автоматически и не требует ответа.</span>
                    </td>
                </tr>
                <tr>
                    <td align="center" bgcolor="#f0f0f0" style="line-height: 1px">
                        <img src="{{ 'http://'~_host }}/v2/img/mail_template/SLEl51.jpg" alt="" style="height:1px;width:505px">
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#f0f0f0" align="center" height="86" valign="top">
                        <span style="font-size:11px;color:#56595b">© Автошкола auto-online.ru, 2005 - 2016<br />
                            телефон: +7 (495) 666-3-000, e-mail: <a href="mailto:support@auto-online.ru" style="color:#b13232;text-decoration:underline">support@auto-online.ru</a></span>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
