{% extends "AppBundle::layout_new.html.twig" %}

{% block content %}
<nav class="path">
    <a href="{{ path('homepage') }}">{{ 'titles.homepage'|trans }}</a>
    » <strong>{{ 'titles.profile'|trans }}</strong>
</nav>

<div class="mainContent">
    {% include 'AppBundle::_paid2_counter.html.twig' %}
    {% include 'AppBundle::_owe_stage_paid.html.twig' %}

    <section class="profile">
    {% if app.user.photo %}
        <div class="right">
            <div class="photo">
                <img src="{{ app.user.photoWebPath|imagine_filter('photo_small_new') }}?t={{ 'now'|date('U') }}" width="225" height="300" alt="">
            </div>
        </div>
    {% endif %}

        <div class="left">
            <div class="title">
                <div class="links">
                    <a class="bg-red edit-link" href="{{ path('my_profile_edit') }}">Редактировать профиль</a>
                </div>
                <h1>{{ 'titles.profile'|trans }}</h1>
            </div>

        {% if app.user.webgroup %}
            <ul class="info-list">
                <li>
                    <div class="label">{{ 'user_webgroup'|trans }}:</div>
                    {{ app.user.webgroup }}
                </li>
            </ul>
            <div class="hr"></div>
        {% endif %}

        {% if app.user.certificate %}
            <ul class="info-list">
                <li class="user-certificate">
                    {{ settings_notifies['profile_final_exam']|replace({'%certificate_link%': path('my_certificate')})|raw }}
                </li>
            </ul>
            <div class="hr"></div>
        {% endif %}
            <h2>Данные регистрации:</h2>
            <ul class="info-list">
                <li>
                    <div class="label">{{ 'profile_email'|trans }}:</div>
                    {{ app.user.email }}
                </li>
                <li>
                    <div class="label">{{ 'profile_last_name'|trans }}:</div>
                    {{ app.user.lastName }}
                </li>
                <li>
                    <div class="label">{{ 'profile_first_name'|trans }}:</div>
                    {{ app.user.firstName }}
                </li>
                <li>
                    <div class="label">{{ 'profile_patronymic'|trans }}:</div>
                    {{ app.user.patronymic }}
                </li>
                <li>
                    <div class="label">{{ 'profile_region'|trans }}:</div>
                    {{ app.user.region }}
                </li>
            {% if app.user.category %}
                <li>
                    <div class="label">{{ 'profile_category'|trans }}:</div>
                    {{ app.user.category.name }}
                </li>
            {% endif %}
            </ul>
            <div class="hr"></div>

        {% if app.user.sex %}
            <h2>{{ 'profile_passport_data'|trans }}:</h2>
            <ul class="info-list">
                <li>
                    <div class="label">{{ 'profile_sex'|trans }}:</div>
                    {{ app.user.sex|trans }}
                </li>
                <li>
                    <div class="label">{{ 'profile_birthday'|trans }}:</div>
                    {{ app.user.birthday|date('j / n / Y') }} г.
                </li>
            {% if app.user.foreignPassport %}
                <li>
                    <div class="label">{{ 'profile_foreign_passport_number'|trans }}:</div>
                    {{ app.user.foreignPassportNumber }}
                </li>
            {% else %}
                <li>
                    <div class="label">{{ 'profile_passport_number'|trans }}:</div>
                    {{ app.user.passportNumber }}
                </li>
            {% endif %}
                <li>
                    <div class="label">{{ 'profile_passport_rovd'|trans }}:</div>
                    {{ app.user.passportRovd }}
                </li>
                <li>
                    <div class="label">{{ 'profile_passport_rovd_number'|trans }}:</div>
                    {{ app.user.passportRovdNumber }}
                </li>
                <li>
                    <div class="label">{{ 'profile_passport_rovd_date'|trans }}:</div>
                    {{ app.user.passportRovdDate|date('j / n / Y') }} г.
                </li>
            </ul>
            <div class="hr"></div>
        {% endif %}

        {% if app.user.birthCountry or app.user.birthRegion or app.user.birthCity %}
            <h2>{{ 'profile_birth_place'|trans }}:</h2>
            <ul class="info-list">
            {% if app.user.birthCountry %}
                <li>
                    <div class="label">{{ 'profile_birth_country'|trans }}:</div>
                    {{ app.user.birthCountry }}
                </li>
            {% endif %}
            {% if app.user.birthRegion %}
                <li>
                    <div class="label">{{ 'profile_birth_region'|trans }}:</div>
                    {{ app.user.birthRegion }}
                </li>
            {% endif %}
            {% if app.user.birthCity %}
                <li>
                    <div class="label">{{ 'profile_birth_city'|trans }}:</div>
                    {{ app.user.birthCity }}
                </li>
            {% endif %}
            </ul>
            <div class="hr"></div>
        {% endif %}

        {% if app.user.registrationCountry and not app.user.notRegistration %}
            <h2>{{ 'profile_registration_data'|trans }}:</h2>
            <ul class="info-list">
                <li>
                    <div class="label">{{ 'profile_registration_country'|trans }}:</div>
                    {{ app.user.registrationCountry }}
                </li>
                <li>
                    <div class="label">{{ 'profile_registration_region'|trans }}:</div>
                    {{ app.user.registrationRegion }}
                </li>
                <li>
                    <div class="label">{{ 'profile_registration_city'|trans }}:</div>
                    {{ app.user.registrationCity }}
                </li>
                <li>
                    <div class="label">{{ 'profile_registration_street'|trans }}:</div>
                    {{ app.user.registrationStreet }}
                </li>
                <li>
                    <div class="label">{{ 'profile_registration_house'|trans }}:</div>
                    {{ app.user.registrationHouse }}
                </li>
            {% if app.user.registrationStroenie %}
                <li>
                    <div class="label">{{ 'profile_registration_stroenie'|trans }}:</div>
                    {{ app.user.registrationStroenie }}
                </li>
            {% endif %}
            {% if app.user.registrationKorpus %}
                <li>
                    <div class="label">{{ 'profile_registration_korpus'|trans }}:</div>
                    {{ app.user.registrationKorpus }}
                </li>
            {% endif %}
            {% if app.user.registrationApartament %}
                <li>
                    <div class="label">{{ 'profile_registration_apartament'|trans }}:</div>
                    {{ app.user.registrationApartament }}
                </li>
            {% endif %}
            </ul>
            <div class="hr"></div>
        {% endif %}

        {% if app.user.placeCountry and app.user.notRegistration %}
            <h2>{{ 'profile_place_data'|trans }}:</h2>
            <ul class="info-list">
                <li>
                    <div class="label">{{ 'profile_place_country'|trans }}:</div>
                    {{ app.user.placeCountry }}
                </li>
                <li>
                    <div class="label">{{ 'profile_place_region'|trans }}:</div>
                    {{ app.user.placeRegion }}
                </li>
                <li>
                    <div class="label">{{ 'profile_place_city'|trans }}:</div>
                    {{ app.user.placeCity }}
                </li>
                <li>
                    <div class="label">{{ 'profile_place_street'|trans }}:</div>
                    {{ app.user.placeStreet }}
                </li>
                <li>
                    <div class="label">{{ 'profile_place_house'|trans }}:</div>
                    {{ app.user.placeHouse }}
                </li>
            {% if app.user.placeStroenie %}
                <li>
                    <div class="label">{{ 'profile_place_stroenie'|trans }}:</div>
                    {{ app.user.placeStroenie }}
                </li>
            {% endif %}
            {% if app.user.placeKorpus %}
                <li>
                    <div class="label">{{ 'profile_place_korpus'|trans }}:</div>
                    {{ app.user.placeKorpus }}
                </li>
            {% endif %}
            {% if app.user.placeApartament %}
                <li>
                    <div class="label">{{ 'profile_place_apartament'|trans }}:</div>
                    {{ app.user.placeApartament }}
                </li>
            {% endif %}
            </ul>
            <div class="hr"></div>
        {% endif %}

        {% if app.user.workPlace or app.user.workPosition %}
            <h2>{{ 'profile_work'|trans }}:</h2>
            <ul class="info-list">
            {% if app.user.workPlace %}
                <li>
                    <div class="label">{{ 'profile_work_place'|trans }}:</div>
                    {{ app.user.workPlace }}
                </li>
            {% endif %}
            {% if app.user.workPosition %}
                <li>
                    <div class="label">{{ 'profile_work_position'|trans }}:</div>
                    {{ app.user.workPosition }}
                </li>
            {% endif %}
            </ul>
            <div class="hr"></div>
        {% endif %}

        {% if app.user.regionPlace %}
            <h2>{{ 'profile_region_place'|trans }}:</h2>
            <ul class="info-list">
                <li>
                    <div class="label">{{ 'profile_region'|trans }}:</div>
                    {{ app.user.region }}
                </li>
                <li>
                    <div class="label">{{ 'profile_region_place'|trans }}:</div>
                    {{ app.user.regionPlace }}
                </li>
            </ul>
            <div class="hr"></div>
        {% endif %}

        {% if app.user.phoneMobile %}
            <h2>{{ 'profile_phone_data'|trans }}:</h2>

            <ul class="info-list">
            {% if app.user.phoneHome %}
                <li>
                    <div class="label">{{ 'profile_phone_home'|trans }}:</div>
                    +7 {{ app.user.phoneHome }}
                </li>
            {% endif %}
                <li>
                    <div class="label">{{ 'profile_phone_mobile'|trans }}:</div>
                    {{ app.user.mobileFormat }}
                    <div class="submit-phone" id="mobile_status">
                    {% if 'confirmed' == app.user.phoneMobileStatus %}
                        {% include 'AppBundle:My:_mobile_confirmed.html.twig' %}
                    {% elseif 'sended' == app.user.phoneMobileStatus %}
                        {% include 'AppBundle:My:_mobile_sended.html.twig' %}
                    {% else %}
                        <div class="bg toggle red">{{ 'mobile_status.nulled'|trans }}</div>
                    {% endif %}
                    </div>
                </li>
            </ul>
            <div class="hr"></div>
        {% endif %}

        {% if app.user.region.filialNotExisting is defined and app.user.region.filialNotExisting %}
            <h2>Документы о завершении обучения:</h2>

            <ul class="info-list">
                <li>
                    <div class="label">Статус:</div>
                    <div class="submit-phone">
                        {% if 'doc_is_done' == app.user.finalDocStatus %}
                            <div class="bg green">Документ оформлены</div>
                        {% elseif 'doc_is_picked' == app.user.finalDocStatus %}
                            <div class="bg green">Документы забрал</div>
                        {% elseif app.user.finalDocStatus is null %}
                            <div class="bg red">Обучение не законченно</div>
                        {% else %}
                            <div class="bg red">Статус не определен</div>
                        {% endif %}
                    </div>
                </li>
            </ul>
            <div class="hr"></div>
        {% endif %}

        {% if app.user.region.filialNotExisting is defined and app.user.region.filialNotExisting and is_granted("ROLE_USER_PAID2") %}
            <h2>Договор на вождение:</h2>

            <div>Договор на вождение для покупки талонов</div>
            <div class="btn btn-green" onclick="window.open('{{ path('my_print') }}');">Распечатать</div>
            <br>
            <br>
            <h2>Мед справка</h2>
            <div class="upload_medical_certificate">
                {% for doc in app.user.documents %}
                    {% if doc.type == 'medical_certificate' %}
                        <div class="upload_docs upload_docs_container">
                            <a href="{{ doc.webPath }}" target="_blank" class="upload_docs_link">
                                <img data-id="{{ doc.id }}" src="{{ doc.webPath|imagine_filter('image_profile_docs') }}" alt="">
                                {% if doc.type == 'medical_certificate' and doc.status != 'confirm' %}
                                    <b class="upload_doc_image">x</b>
                                {% endif %}
                            </a>
                            {% if doc.status == 'fail' and doc.type == 'medical_certificate' %}
                                <br><b class="docs_comment_fail">Отклонено</b>
                            {% elseif doc.status == 'confirm' and doc.type == 'medical_certificate' %}
                                <br><span class="docs_comment_success">Одобренно</span>
                            {% endif %}
                            <br><span class="docs_comment">{{ doc.comment }}</span>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="btn btn-green medical_certificate upload_doc_btn upload_docs_button" onclick="return $('#medical_certificate').click();">
                <span>Загрузить мед. справку</span>
            </div>
            <div class="medical_certificate_error"></div>
            <input id="medical_certificate" class="docs_upload" type="file" name="documents[medical_certificate]" data-url="{{ path('my_upload_docs', { type: 'medical_certificate' }) }}" accept="image/jpg,image/jpeg,image/png" style="display: none" multiple="">

            <h2>Договор</h2>
            <div class="upload_contract">
                {% for doc in app.user.documents %}
                    {% if doc.type == 'contract' %}
                        <div class="upload_docs upload_docs_container">
                            <a href="{{ doc.webPath }}" target="_blank" class="upload_docs_link">
                                <img data-id="{{ doc.id }}" src="{{ doc.webPath|imagine_filter('image_profile_docs') }}" alt="">
                                {% if doc.type == 'contract' and doc.status != 'confirm' %}
                                    <b class="upload_doc_image">x</b>
                                {% endif %}
                            </a>
                            {% if doc.status == 'fail' and doc.type == 'contract' %}
                                <br><b class="docs_comment_fail">Отклонено</b>
                            {% elseif doc.status == 'confirm' and doc.type == 'contract' %}
                                <br><span class="docs_comment_success">Одобренно</span>
                            {% endif %}
                            <br><span class="docs_comment">{{ doc.comment }}</span>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="btn btn-green contract upload_doc_btn upload_docs_button" onclick="return $('#contract').click();">
                <span>Загрузить договор</span>
            </div>
            <div class="contract_error"></div>
            <input id="contract" class="docs_upload" type="file" name="documents[contract]" data-url="{{ path('my_upload_docs', { type: 'contract' }) }}" accept="image/jpg,image/jpeg,image/png" style="display: none" multiple="">

            <h2>Паспорт</h2>
            <div class="upload_passport">
                {% for doc in app.user.documents %}
                    {% if doc.type == 'passport' %}
                        <div class="upload_docs upload_docs_container">
                            <a href="{{ doc.webPath }}" target="_blank" class="upload_docs_link">
                                <img data-id="{{ doc.id }}" src="{{ doc.webPath|imagine_filter('image_profile_docs') }}" alt="">
                                {% if doc.type == 'passport' and doc.status != 'confirm' %}
                                    <b class="upload_doc_image">x</b>
                                {% endif %}
                            </a>
                            {% if doc.status == 'fail' and doc.type == 'passport' %}
                                <br><b class="docs_comment_fail">Отклонено</b>
                            {% elseif doc.status == 'confirm' and doc.type == 'passport' %}
                                <br><span class="docs_comment_success">Одобренно</span>
                            {% endif %}
                            <br><span class="docs_comment">{{ doc.comment }}</span>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="btn btn-green passport upload_doc_btn upload_docs_button" onclick="return $('#passport').click();">
                <span>Загрузить паспорт</span>
            </div>
            <div class="passport_error"></div>
            <input id="passport" class="docs_upload" type="file" name="documents[passport]" data-url="{{ path('my_upload_docs', { type: 'passport' }) }}" accept="image/jpg,image/jpeg,image/png" style="display: none" multiple="">

            <div>Вы можете загрузить файлы с расширением .jpg и .png</div>
            <div class="hr"></div>
        {% endif %}
        </div>
    </section>
</div>
{% endblock content %}

{% block js %}
<script src="/v2/js/jquery-ui.js"></script>
<script src="/v2/js/jquery.fileupload.js"></script>
<script src="/v2/js/jquery.Jcrop.js"></script>
<link href="/v2/css/jquery.Jcrop.css" type="text/css" rel="stylesheet">
<link href="/v2/css/jquery.Jcrop.fix.css" type="text/css" rel="stylesheet">
<script>
$(function() {
    var sblock = $('#mobile_status');
    var submit = $('input[type=submit]', sblock);
    var input = $('input[type=text]', sblock);
    var more = $('.more', sblock);

    var confirmMethod = function() {
        var input = $('input[type=text]', sblock);
        submit.attr('disabled', 'disabled');
        $('.err-text', sblock).remove();
        $.getJSON('{{ path('my_mobile_confirm_ajax') }}?code=' + input.val(), function(data) {
            if (data.error) {
                $('.input', sblock).addClass('error');
                $('.form', sblock).append('<div class="err-text">Ошибка! Введен неверный код подтверждения</div>');
                submit.removeAttr('disabled');
            } else {
                sblock.html('{% include 'AppBundle:My:_mobile_confirmed.html.twig' %}');
            }
        });
        return false;
    };

    var resend = function() {
        $.getJSON('{{ path('my_mobile_status_ajax') }}');
        $('.input', sblock).removeClass('error');
        $('[type=text]', sblock).val('');
        $('.err-text', sblock).remove();
        return false;
    };

    var init = function() {
        var submit = $('input[type=submit]', sblock);
        var more = $('.more', sblock);
        submit.on('click', confirmMethod);
        submit.removeAttr('disabled');
        input.keypress(function(e) { if (e.which == 13) confirmMethod(); });
        more.on('click', resend);
    };

    $('.red', sblock).on('click', function() {
        var btn_danger = $(this);
        $.getJSON('{{ path('my_mobile_status_ajax') }}', function() {
            sblock.html('{% include 'AppBundle:My:_mobile_sended.html.twig' %}');
            init();
        });
    });

    init();
    removeUpload();

    $('.docs_upload').fileupload({
        send: function () {
            var id = $(this).attr('id');
            $('.'+id).addClass('ajax-load-documents');
        },
        done: function (e, data) {
            var id = $(this).attr('id');
            $('.'+id).removeClass('ajax-load-documents');
            if (data.result.files) {
                $.each(data.result.files, function (index, file) {
                    $('.upload_' + id).append('<div class="upload_docs upload_docs_container"><a href="'+file.webPathOrig+'" target="_blank" class="upload_docs_link"><img data-id="'+file.id+'" src="'+file.webPath+'" alt=""><b class="upload_doc_image">x</b></a></div>');
                });
                removeUpload();
            } else {
                var errors = data.result.errors ? data.result.errors.join('<br>') : 'Неизвестная ошибка.';
                $('.'+id+'_error').html(errors).show();
                setInterval(function () {
                    $('.'+id+'_error').html('').hide();
                }, 5000);
            }
        },
        fail: function () {
            var id = $(this).attr('id');
            $('.'+id).removeClass('ajax-load-documents');
            $('.upload-fail').html('Ошибка сервера.').show().delay(1500).hide();
        }
    });

    function removeUpload() {
        $('.upload_docs').on('click', '.upload_doc_image', function (e) {
            e.preventDefault();
            if (!confirm('Вы хотите удалить изображение документа?')) {
                return;
            }
            var document = $(this).closest('.upload_docs_container');
            var id = document.find('img').data('id');

            $.post('{{ path('my_deleted_docs') }}', {id: id}, function () {
                document.remove();
            });
        });
    }
});
</script>
{% endblock js %}
