<!DOCTYPE html><br><br>
<html lang="{{ app.request.locale }}">
<head>
    <title>ДОГОВОР – ОФЕРТА</title>
    <meta charset="{{ _charset }}">
    <link rel="stylesheet" href="{{ asset('v2/css/print.css') }}">
</head>
<body>
<div class="container">
   
    <h2>Договор – оферта</h2><br>

    <table width="100%">
        <tr>
            <td>г. Москва</td>
            <td align="right">{{ user.createdAt|localizeddate('long', 'none') }}</td>
        </tr>
    </table>
    {########################################################}
    {% set cnt = 0 %}
    <h2>{% set cnt = cnt + 1 %}{{ cnt }}. Общие положения</h2>
    <table class="list">
        {% set cnt2 = 0 %}
        <tr>
            <td>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</td>
            <td>
                Настоящий документ является публичной офертой Общества с ограниченной ответственностью «Альфа
                образование» (далее – Организация), именуемого в дальнейшем «Исполнитель», содержит все существенные
                условия договора о предоставлении доступа к его электронным ресурсам и адресован любому физическому
                лицу, выразившему желание воспользоваться информационными ресурсами на электронном носителе организации.
            </td>
        </tr>
        <tr>
            <td>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</td>
            <td>
                В соответствии с пунктом 2 статьи 437 Гражданского кодекса Российской Федерации (далее –ГК РФ) в случае
                принятия изложенных ниже условий и оплаты услуг, физическое лицо, производящее акцепт этой оферты
                становится «Заказчиком» ( в соответствии с пунктом 3 статьи 438 ГК РФ акцепт оферты равносилен
                заключению договора на условиях, изложенных в оферте), а «Исполнитель» и «Заказчик» совместно –
                «Сторонами» Договора-оферты.
            </td>
        </tr>
        <tr>
            <td>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</td>
            <td>
                Акцептом оферты является полное и безоговорочное принятие Оферты путем осуществления действий по оплате
                Договора-оферты на условиях, предусмотренных настоящим договором.
            </td>
        </tr>
        <tr>
            <td>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</td>
            <td>
                В связи с вышеизложенным, внимательно прочитайте текст данной публичной оферты, и, если Вы не согласны с
                ее условиями или с каким-либо пунктом условий, «Исполнитель» предлагает Вам отказаться от заключения
                Договора-оферты и использования услуг «Исполнителя».
            </td>
        </tr>
    </table>
    {########################################################}
    <h2>{% set cnt = cnt + 1 %}{{ cnt }}. Предмет Договора-оферты</h2>
    <table class="list">
        {% set cnt2 = 0 %}
        <tr>
            <td>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</td>
            <td>
                «Исполнитель» предоставляет «Заказчику» доступ к электронным ресурсам автошколы по уникальному имени
                пользователя и паролю в течение 1 (одного) календарного года с даты следующей после даты Акцепта Оферты
                (далее – Услуга).
            </td>
        </tr>

        <tr>
            <td>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</td>
            <td>
                «Исполнитель» оказывает услугу по сети Интернет через сайт http://www.auto-online.ru/.
            </td>
        </tr>
        <tr>
            <td>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</td>
            <td>
                «Заказчик» оплачивает услугу согласно п. 3.1. настоящего договора.
            </td>
        </tr>
    </table>
    {########################################################}
    <h2>{% set cnt = cnt + 1 %}{{ cnt }}. Акцепт Оферты (порядок оплаты и заключение Договора-оферты)</h2>
    <table class="list">
        {% set cnt2 = 0 %}
        <tr>
            <td>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</td>
            <td>
                «Заказчик» производит Акцепт Оферты путем 100% предоплаты услуги Исполнителя в российских рублях
                следующими способами: банковской картой, электронными деньгами или SMS-сообщениями.
            </td>
        </tr>
        <tr>
            <td>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</td>
            <td>
                Стоимость предоставляемой «Исполнителем» услуги составляет 4 000 (Четыре тысячи) рублей.
            </td>
        </tr>
        <tr>
            <td>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</td>
            <td>
                Дата Акцепта Оферты (момент внесения предоплаты за услугу), является датой заключения настоящего
                Договора-оферты.
            </td>
        </tr>
        <tr>
            <td>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</td>
            <td>
                В случае одностороннего отказа «Заказчика» от оказания услуги, уплаченная сумма не возвращается.
            </td>
        </tr>
        <tr>
            <td>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</td>
            <td>
                «Заказчик» не вправе отказаться от выполнения оплаченного Договора-оферты (или его части).
            </td>
        </tr>
    </table>

    {########################################################}
    <h2>{% set cnt = cnt + 1 %}{{ cnt }}. Права, обязанности и ответственность «Сторон»</h2>
    <table class="list">
        {% set cnt2 = 0 %}
        <tr>
            <td>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</td>
            <td>
                Исполнитель обязуется:
            </td>
        </tr>
        {########################################################}
        {% set cnt3 = 0 %}
        <tr>
            <td>{% set cnt3 = cnt3 + 1 %}{{ cnt }}.{{ cnt2 }}.{{ cnt3 }}</td>
            <td>
                Оказать Заказчику услуги в соответствии с условиями настоящего Договора-оферты.
            </td>
        </tr>
        <tr>
            <td>{% set cnt3 = cnt3 + 1 %}{{ cnt }}.{{ cnt2 }}.{{ cnt3 }}</td>
            <td>
                Предоставить Заказчику уникальное имя пользователя и пароль.
            </td>
        </tr>
        <tr>
            <td>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</td>
            <td>
                Заказчик обязуется:
            </td>
        </tr>
        {########################################################}
        {% set cnt3 = 0 %}
        <tr>
            <td>{% set cnt3 = cnt3 + 1 %}{{ cnt }}.{{ cnt2 }}.{{ cnt3 }}</td>
            <td>
                Использовать предоставленную услугу только в личных целях и не использовать ее в предпринимательских
                целях или для получения личной и/или коммерческой выгоды.
            </td>
        </tr>
        <tr>
            <td>{% set cnt3 = cnt3 + 1 %}{{ cnt }}.{{ cnt2 }}.{{ cnt3 }}</td>
            <td>
                Не передавать доступ к имеющимся у него в соответствии с Договором-оферты электронным ресурсам третьим
                лицам.
            </td>
        </tr>
        <tr>
            <td>{% set cnt3 = cnt3 + 1 %}{{ cnt }}.{{ cnt2 }}.{{ cnt3 }}</td>
            <td>
                Не создавать копий произведений или их частей в цифровой или печатной форме, предоставленных в
                соответствии с настоящим Договором-офертой.
            </td>
        </tr>
        {########################################################}
        <tr>
            <td>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</td>
            <td>
                «Заказчик» вправе отказаться от заключения Договора-оферты в любое время до момента акцепта оферты.
            </td>
        </tr>
        <tr>
            <td>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</td>
            <td>
                «Заказчик» несет ответственность за соблюдение авторских прав.
            </td>
        </tr>
        <tr>
            <td>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</td>
            <td>
                «Исполнитель» не несет ответственности за ненадлежащее предоставление услуги и/или выполнение Заказа по
                претензиям «Заказчика» к качеству соединения с сетью Интернет, связанным с качеством функционирования
                сетей Интернет-провайдеров, политикой обмена трафиком между провайдерами, и другими обстоятельствами,
                находящимися вне зоны компетенции, влияния и контроля «Исполнителя».
            </td>
        </tr>
        <tr>
            <td>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</td>
            <td>
                Все претензии по качеству услуги в письменном виде направляются «Исполнителю» по адресу: 109316, г.
                Москва, Волгоградский проспект, д. 32, корп. 4.
            </td>
        </tr>
    </table>
    {########################################################}
    <h2>{% set cnt = cnt + 1 %}{{ cnt }}. Условия и порядок оказания услуги</h2>
    <table class="list">
        {% set cnt2 = 0 %}
        <tr>
            <td>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</td>
            <td>
                «Заказчик» знакомится с правилами и объемом предоставляемых Исполнителем услуг, на стенде «Исполнителя»
                по адресу: г. Москва, Волгоградский проспект, д. 32, корп. 4 или на сайте организации.
            </td>
        </tr>
        <tr>
            <td>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</td>
            <td>
                Услуга считается оказанной «Заказчику» с момента передачи уникального имени пользователя и пароля.
            </td>
        </tr>
    </table>
    {########################################################}

    <h2>{% set cnt = cnt + 1 %}{{ cnt }}. Прочие условия</h2>
    <table class="list">
        {% set cnt2 = 0 %}
        <tr>
            <td>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</td>
            <td>
                За невыполнение или ненадлежащее выполнение обязательств по настоящему договору «Исполнитель» и
                «Заказчик» несут ответственность в соответствии с действующим Законодательством РФ.
            </td>
        </tr>
        <tr>
            <td>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</td>
            <td>
                Во всех взаимоотношениях с третьими лицами Стороны выступают от своего имени и за свой счет.
            </td>
        </tr>
        <tr>
            <td>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</td>
            <td>
                Договор-оферты вступает в силу с момента его заключения (Акцепта Оферты) и действует до полного
                исполнения сторонами своих обязательств.
            </td>
        </tr>
        <tr>
            <td>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</td>
            <td>
                «Заказчик» соглашается и признает, что внесение изменений в публичную оферту влечет за собой внесение
                этих изменений в заключенный и действующий между «Заказчиком» и «Исполнителем» Договор-оферты, и эти
                изменения в Договоре-оферте вступают в силу одновременно с вступлением в силу таких изменений в
                публичной оферте.
            </td>
        </tr>

    </table>

    {########################################################}

    <b>Приняв условия, подписав и оплатив Договор, Вы соглашаетесь с условиями договора публичной оферты о
        предоставлении доступа к электронным ресурсам автошколы.</b>

    <h2>{% set cnt = cnt + 1 %}{{ cnt }}.Адреса и реквизиты сторон </h2>
    <table class="requisites">
        <tr>
            <td>
                «Исполнитель»:<br>
                ООО «Альфа образование»<br>
                109316, г. Москва, Волгоградский пр-т,<br>
                д. 32, корп. 4.<br>
                р/с 40702810300001441749 в АО «Райффайзенбанк» г. Москва<br>
                к/с 3010181020000000700<br>
                БИК 044525700<br>
                Начальник автошколы<br>
                ООО «Альфа образование» /Цибизов А.Б./<br>
            </td>
            <td>
                «Заказчик»:<br>
                Ф.И.О.: {{ user.lastName }} {{ user.firstName }} {{ user.patronymic }}<br>
                Адрес: {{ user.registrationCountry }} {{ user.registrationRegion }}
                {{ user.registrationCity }} {{ user.registrationStreet }} {{ user.registrationHouse }}
                {{ user.registrationStroenie }} {{ user.registrationKorpus }} {{ user.registrationApartament }}<br>
                Номер телефона: {{ user.phoneMobile }} {{ user.phoneHome }}<br>
                Паспорт: {{ user.passportNumber }}<br>
                выдан отделением {{ user.passportRovd }} {{ user.passportRovdDate|localizeddate('long', 'none') }}<br>
                __________________________/_________________________/<br>
            </td>
        </tr>
    </table>

</div>
</body>
</html>