<!DOCTYPE html><br><br>
<html lang="{{ app.request.locale }}">
<head>
    <title>СОГЛАСИЕ НА ОБРАБОТКУ И ПЕРЕДАЧУ ПЕРСОНАЛЬНЫХ ДАННЫХ</title>
    <meta charset="{{ _charset }}">
    <link rel="stylesheet" href="{{ asset('v2/css/print.css') }}">
</head>
<body>
<div class="container">
    <div style="page-break-after:always;">
        <h2>
            СОГЛАСИЕ<br>
            НА ОБРАБОТКУ И ПЕРЕДАЧУ ПЕРСОНАЛЬНЫХ ДАННЫХ<br>
            в соответствии с Федеральным законом « О персональных данных» от 27.07.2006 г. № 152-ФЗ<br>
        </h2><br>
        Я, {{ user.lastName }} {{ user.firstName }} {{ user.patronymic }}, паспорт
        {{ user.passportNumber }} проживающий (ая) по
        адресу: {{ user.registrationCountry }} {{ user.registrationRegion }}
        {{ user.registrationCity }} {{ user.registrationStreet }} {{ user.registrationHouse }}
        {{ user.registrationStroenie }} {{ user.registrationKorpus }} {{ user.registrationApartament }}
        настоящим даю свое согласие на обработку в ЧПОУ «ИИС» (далее Организация) моих персональных данных, относящихся
        исключительно к перечисленным ниже категориям персональных данных:<br>

        <ul>
            <li>паспортные данные;
            <li>данные, содержащиеся в договоре об оказании платных образовательных услуг;
            <li>адрес места жительства и регистрации;
            <li>прочие данные, относящиеся к заключению договора.
        </ul>
        <br>
        Я даю согласие на использование моих персональных данных исключительно в следующих целях:
        <ul>
            <li>обеспечение организации учебного процесса и оформление свидетельства об обучении;
            <li>в отношении моих персональных данных: сбор, систематизация, накопление, хранение, уточнение (обновление,
                изменение), использование (только в указанных выше целях), обезличивание, блокирование, уничтожение
                ведение статистики;
            <li>передача персональных данных организациям - партнерам, взаимодействующим в процессе обучения на
                основании Договора о сетевой форме реализации образовательных программ профессионального обучения
                водителей транспортных средств б/н от 10.02.2014 года.<br>
        </ul>

        <br>
        Настоящее согласие предоставляется на осуществление сотрудниками организации следующих действий в отношении моих
        персональных данных: сбор, систематизация, накопление, хранение, уточнение (обновление, изменение),
        использование (только в указанных выше целях), обезличивание, блокирование, уничтожение. Срок обработки
        персональных данных вышеперечисленным способом – бессрочно.<br>
        Я подтверждаю, что, давая настоящее согласие, я действую по своей воле и в своих интересах.<br>
        Дата: {{ user.createdAt|localizeddate('long', 'none') }}<br>
        Подпись: ________________________ (______________________)
        <br><br><br><br><br><br><br>
    </div>
</div>
</body>
</html>