<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head><
    <title>ДОГОВОР ОБ ОКАЗАНИИ ПЛАТНЫХ ОБРАЗОВАТЕЛЬНЫХ УСЛУГ</title>
    <meta charset="{{ _charset }}">
    <link rel="stylesheet" href="{{ asset('v2/css/print.css') }}">
</head>
<br>
<body><br>
<div class="container">
    <h2>ДОГОВОР ОБ ОКАЗАНИИ ПЛАТНЫХ ОБРАЗОВАТЕЛЬНЫХ УСЛУГ</h2>
    <table width="100%">
        <tr>
            <td><b>г. Москва</b></td>
            <td align="right"><b>{{ user.createdAt|localizeddate('long', 'none') }}</b></td>
        </tr>
    </table>
    <br>

    ООО «Альфа образование» (лицензия, регистрационный № 036323 от 03.07.2015 г., выдана Департаментом образования г. Москвы),
    именуемое в дальнейшем «Исполнитель», в лице начальника автошколы Цибизова Александра Борисовича,
    действующего на основании доверенности № 7 от 12.08.2014 г., с одной стороны, и
    {{ user.lastName }} {{ user.firstName }} {{ user.patronymic }}, именуемый(ая) в дальнейшем «Обучающийся», с другой стороны,
    руководствуясь Гражданским кодексом Российской Федерации, Федеральным законом от 29 декабря 2012 года
    № 273-ФЗ «Об образовании в Российской Федерации», постановлением Правительства Российской Федерации от 15 августа 2013
    года № 706 «Об утверждении Правил оказания платных образовательных услуг», заключили настоящий Договор о нижеследующем:
    <br>


    {% set cnt = 0 %}
    <br>
    <h2>{% set cnt = cnt + 1 %}{{ cnt }}. ОБЩИЕ ПОЛОЖЕНИЯ</h2>
    <table class="list">
        {% set cnt2 = 0 %}
        <tr>
            <td>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</td>
            <td>Договор заключен на основании соглашения сторон и регулирует отношения между Исполнителем и Обучающимся,
                и имеет целью определение их взаимных прав, обязанностей и ответственности в период действия Договора.
            </td>
        </tr>
        <tr>
            <td>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</td>
            <td>Договор составлен с учетом действующего законодательства и является документом для сторон, в том числе
                при решении споров между Исполнителем и Обучающимся в судебных и иных органах.
            </td>
        </tr>
        <tr>
            <td>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</td>
            <td>Взаимоотношения сторон, не оговоренные настоящим Договором, регулируются нормами действующего
                законодательства Российской Федерации.
            </td>
        </tr>
    </table>

    <br>
    <h2>{% set cnt = cnt + 1 %}{{ cnt }}. ПРЕДМЕТ ДОГОВОРА</h2>
    <table class="list">
        {% set cnt2 = 0 %}
        <tr>
            <td>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</td>
            <td>Исполнитель предоставляет платные образовательные услуги по Программе профессионального обучения
                водителей транспортных средств категории «В», утвержденной приказом Министерства образования и науки
                Российской Федерации от 26 декабря 2013 года № 1408, а Обучающийся добросовестно осваивает вышеуказанную
                программу и оплачивает оказанные услуги.
            </td>
        </tr>
        <tr>
            <td>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</td>
            <td>Количество часов обучения в соответствии с учебным планом составляет не менее 190/188 часов, в том числе:
                Базовый цикл: «Основы законодательства в сфере дорожного движения», «Психофизиологические основы деятельности водителя»,
                «Основы управления транспортными средствами», «Первая помощь при дорожно-транспортном происшествии»;
                Специальный цикл :«Устройство и техническое обслуживание транспортных средств категории «В» как объектов управления»,
                «Основы управления транспортными средствами категории «В», «Вождение транспортных средств категории «В»
                (с механической трансмиссией/с автоматической трансмиссией);
                Профессиональный цикл: «Организация и выполнение грузовых перевозок автомобильным транспортом»,
                «Организация и выполнение пассажирских перевозок автомобильным транспортом». Квалификационный экзамен.<br>
                Экзамены и зачеты по изучаемым в рамках Программы подготовки водителей транспортных средств предметам,
                проводятся за счет учебного времени, отводимого на изучение предмета и за счет часов, отведенных на вождение.
                <br></td>
        </tr>
        <tr>
            <td>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</td>
            <td>Срок обучения по программе составляет 3,5 месяца. В зависимости от результатов освоения образовательной
                программы и исполнению учебного плана, невыполнения (несвоевременного выполнения) Обучающимся своих
                обязательств по договору, срок обучения может быть увеличен или уменьшен по усмотрению Исполнителя. При
                наступлении вышеуказанных обстоятельств Обучающийся переводится на индивидуальный учебный план. При этом
                Исполнитель не обязан уведомлять Обучающегося об изменении сроков обучения. Профессиональное обучение
                завершается итоговой аттестацией в форме квалификационного экзамена.
            </td>
        </tr>
        <tr>
            <td>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</td>
            <td>Форма обучения дистанционная (в соответствии с учебным планом).</td>
        </tr>
    </table>

    <br>
    <h2>{% set cnt = cnt + 1 %}{{ cnt }}. ПРАВА И ОБЯЗАННОСТИ СТОРОН</h2>
    <table class="list">
        {% set cnt2 = 0 %}
        <tr>
            <td><b>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</b></td>
            <td><b>Исполнитель вправе:</b></td>

            {% set cnt3 = 0 %}
        <tr>
            <td>{% set cnt3 = cnt3 + 1 %}{{ cnt }}.{{ cnt2 }}.{{ cnt3 }}</td>
            <td>
                Самостоятельно осуществлять организацию обучающего процесса и формировать контингент обучающихся.
            </td>
        </tr>
        <tr>
            <td>{% set cnt3 = cnt3 + 1 %}{{ cnt }}.{{ cnt2 }}.{{ cnt3 }}</td>
            <td>
                Определять режим занятий, систему оценок, формы и периодичность контроля знаний обучающихся в соответствии
                с Уставом и локальными актами образовательной организации.
            </td>
        </tr>
        <tr>
            <td>{% set cnt3 = cnt3 + 1 %}{{ cnt }}.{{ cnt2 }}.{{ cnt3 }}</td>
            <td>
                Информировать обучающихся о необходимости соблюдения им требований Устава и Правил внутреннего
                распорядка Исполнителя.
            </td>
        </tr>
        <tr>
            <td>{% set cnt3 = cnt3 + 1 %}{{ cnt }}.{{ cnt2 }}.{{ cnt3 }}</td>
            <td>
                Осуществлять обработку персональных данных обучающихся в соответствии с действующим законодательством
                Российской Федерации.
            </td>
        </tr>
        <tr>
            <td>{% set cnt3 = cnt3 + 1 %}{{ cnt }}.{{ cnt2 }}.{{ cnt3 }}</td>
            <td>
                Осуществлять оценку качества знаний Обучающегося.
            </td>
        </tr>
        <tr>
            <td>{% set cnt3 = cnt3 + 1 %}{{ cnt }}.{{ cnt2 }}.{{ cnt3 }}</td>
            <td>
                Проводить промежуточную аттестацию по итогам освоения отдельных предметов (дисциплин) входящих в программу обучения.
            </td>
        </tr>
        <tr>
            <td>{% set cnt3 = cnt3 + 1 %}{{ cnt }}.{{ cnt2 }}.{{ cnt3 }}</td>
            <td>
                Не допускать обучающихся к прохождению промежуточной (итоговой) аттестации при наличии задолженности по оплате за обучение.
            </td>
        </tr>
        <tr>
            <td>{% set cnt3 = cnt3 + 1 %}{{ cnt }}.{{ cnt2 }}.{{ cnt3 }}</td>
            <td>
                Применять к Обучающемуся меру дисциплинарного наказания в виде отчисления за невыполнения им своих обязательств (обязанностей) по данному договору.
            </td>
        </tr>
        <tr>
            <td>{% set cnt3 = cnt3 + 1 %}{{ cnt }}.{{ cnt2 }}.{{ cnt3 }}</td>
            <td>
                Восстановить Обучающегося в образовательной организации после устранения им причин, послуживших
                основанием для применения к нему такой меры дисциплинарного наказания, как отчисление, в течение пяти
                дней после подачи соответствующего заявления.
            </td>
        </tr>
        <tr>
            <td>{% set cnt3 = cnt3 + 1 %}{{ cnt }}.{{ cnt2 }}.{{ cnt3 }}</td>
            <td>
                В зависимости от результатов освоения образовательной программы и исполнению учебного плана,
                Исполнитель вправе назначать Обучающемуся дополнительные платные занятия.
            </td>
        </tr>
        <tr>
            <td>{% set cnt3 = cnt3 + 1 %}{{ cnt }}.{{ cnt2 }}.{{ cnt3 }}</td>
            <td>
                При реализации образовательных программ, предусмотренных настоящим договором, исполнитель вправе
                использовать сетевую форму их реализации.
            </td>
        </tr>
        <tr>
            <td><b>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</b></td>
            <td><b>Исполнитель обязуется:</b></td>
            <td>
                {% set cnt3 = 0 %}
        <tr>
            <td>{% set cnt3 = cnt3 + 1 %}{{ cnt }}.{{ cnt2 }}.{{ cnt3 }}</td>
            <td>
                Обеспечить Обучающемуся посещение в автошколе «Альфа образование» или в автошколах-партнерах теоретических
                и практических занятий по предметам, указанным в п.2.2. Договора
            </td>
        </tr>
        <tr>
            <td>{% set cnt3 = cnt3 + 1 %}{{ cnt }}.{{ cnt2 }}.{{ cnt3 }}</td>
            <td>
                Предоставить Обучающемуся для проведения практических занятий по обучению вождению инструктора и учебный автомобиль.
            </td>
        </tr>
        <tr>
            <td>{% set cnt3 = cnt3 + 1 %}{{ cnt }}.{{ cnt2 }}.{{ cnt3 }}</td>
            <td>
                Обеспечить Обучающемуся доступ к электронным ресурсам сайта автошколы.<br>
            </td>
        </tr>
        <tr>
            <td>{% set cnt3 = cnt3 + 1 %}{{ cnt }}.{{ cnt2 }}.{{ cnt3 }}</td>
            <td>
                После прохождения Обучающимся «Программы подготовки водителей категории «В» в полном объеме, обеспечить ему
                проведение квалификационных выпускных экзаменов в автошколе «Альфа Образование Область» или в автошколах-партнерах
                по дисциплинам, указанным в п.п. 2.2.<br>
            </td>
        </tr>
        <tr>
            <td>{% set cnt3 = cnt3 + 1 %}{{ cnt }}.{{ cnt2 }}.{{ cnt3 }}</td>
            <td>
                Выдать Обучающемуся свидетельство об окончании обучения в автошколе «Альфа образование» или в автошколах-партнерах,
                при условии  успешного освоения им образовательной программы и успешной сдачи  квалификационных выпускных экзаменов,
                указанных в п. 3.2.5. после регистрации документа в МРЭО ГИБДД.<br>
            </td>
        </tr>

        <tr>
            <td><b>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</b></td>
            <td><b>Обучающийся вправе:</b></td>
            <td>
                {% set cnt3 = 0 %}
        <tr>
            <td>{% set cnt3 = cnt3 + 1 %}{{ cnt }}.{{ cnt2 }}.{{ cnt3 }}</td>
            <td>
                Знакомиться с уставом организации, лицензией на осуществление образовательной деятельности и другими документами,
                регламентирующими осуществление образовательного процесса в организации.<br>
            </td>
        </tr>
        <tr>
            <td>{% set cnt3 = cnt3 + 1 %}{{ cnt }}.{{ cnt2 }}.{{ cnt3 }}</td>
            <td>
                Получать от Исполнителя полную информацию об оценке результатов обучения и ее критериях.<br>
            </td>
        </tr>
        <tr>
            <td>{% set cnt3 = cnt3 + 1 %}{{ cnt }}.{{ cnt2 }}.{{ cnt3 }}</td>
            <td>
                Пользоваться имуществом Исполнителя, необходимым для реализации программы обучения.<br>
            </td>
        </tr>
        <tr>
            <td>{% set cnt3 = cnt3 + 1 %}{{ cnt }}.{{ cnt2 }}.{{ cnt3 }}</td>
            <td>
                Восстановиться в образовательной организации после применения к нему меры дисциплинарного наказания как отчисление.<br>
            </td>
        </tr>
        <tr>
            <td>{% set cnt3 = cnt3 + 1 %}{{ cnt }}.{{ cnt2 }}.{{ cnt3 }}</td>
            <td>
                Обучаться по индивидуальному плану, в пределах осваиваемой образовательной программы.
            </td>
        </tr>


        <tr>
            <td><b>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</b></td>
            <td><b>Обучающийся обязуется:</b></td>
            <td>
                {% set cnt3 = 0 %}
        <tr>
            <td>{% set cnt3 = cnt3 + 1 %}{{ cnt }}.{{ cnt2 }}.{{ cnt3 }}</td>
            <td>
                Добросовестно осваивать образовательную программу, выполнять индивидуальный учебный план, в том числе посещать предусмотренные
                учебным планом или индивидуальным учебным планом занятия, осуществлять самостоятельную подготовку к занятиям, выполнять задания,
                данные педагогическими работниками в рамках образовательной программы.
            </td>
        </tr>
        <tr>
            <td>{% set cnt3 = cnt3 + 1 %}{{ cnt }}.{{ cnt2 }}.{{ cnt3 }}</td>
            <td>
                Ознакомиться с «Программой подготовки водителей транспортных средств категории «В» и Правилами вождения и неукоснительно их  выполнять.
            </td>
        </tr>
        <tr>
            <td>{% set cnt3 = cnt3 + 1 %}{{ cnt }}.{{ cnt2 }}.{{ cnt3 }}</td>
            <td>
                В установленные сроки выполнять все виды учебных заданий.
            </td>
        </tr>
        <tr>
            <td>{% set cnt3 = cnt3 + 1 %}{{ cnt }}.{{ cnt2 }}.{{ cnt3 }}</td>
            <td>
                До начала практического обучения вождению транспортных средств, пройти медицинское освидетельствование на водительской медицинской комиссии.
                При этом Обучающий обязан сдать на период обучения полученное медицинское заключение установленного образца в РФ Исполнителю.
            </td>
        </tr>
        <tr>
            <td>{% set cnt3 = cnt3 + 1 %}{{ cnt }}.{{ cnt2 }}.{{ cnt3 }}</td>
            <td>
                На занятиях по вождению своевременно реагировать на замечания инструктора и строго выполнять его указания.
            </td>
        </tr>
        <tr>
            <td>{% set cnt3 = cnt3 + 1 %}{{ cnt }}.{{ cnt2 }}.{{ cnt3 }}</td>
            <td>
                Заблаговременно извещать Исполнителя о невозможности прибытия на занятие по уважительной причине (болезнь, командировка и др.).
            </td>
        </tr>
        <tr>
            <td>{% set cnt3 = cnt3 + 1 %}{{ cnt }}.{{ cnt2 }}.{{ cnt3 }}</td>
            <td>
                Строго соблюдать внутренний порядок и правила техники безопасности на всех видах учебных занятий.<br>
            </td>
        </tr>
        <tr>
            <td>{% set cnt3 = cnt3 + 1 %}{{ cnt }}.{{ cnt2 }}.{{ cnt3 }}</td>
            <td>
                Достойно вести себя в Автошколе и не появляться на занятиях в состоянии алкогольного, наркотического или токсического опьянения.<br>
            </td>
        </tr>
        <tr>
            <td>{% set cnt3 = cnt3 + 1 %}{{ cnt }}.{{ cnt2 }}.{{ cnt3 }}</td>
            <td>
                В назначенные Исполнителем сроки приступить к сдаче квалификационных выпускных экзаменов по теоретическим дисциплинам, указанным в п. 2.2. Договора.<br>
            </td>
        </tr>
        <tr>
            <td>{% set cnt3 = cnt3 + 1 %}{{ cnt }}.{{ cnt2 }}.{{ cnt3 }}</td>
            <td>
                В назначенные Исполнителем сроки приступить к сдаче квалификационных выпускных экзаменов по практическому вождению транспортных средств.
                В назначенные Исполнителем сроки  проходить промежуточную и итоговую аттестацию.<br>
            </td>
        </tr>
        <tr>
            <td>{% set cnt3 = cnt3 + 1 %}{{ cnt }}.{{ cnt2 }}.{{ cnt3 }}</td>
            <td>
                Полностью и своевременно оплатить все услуги Исполнителя в течении 45 календарных дней с момента заключения настоящего Договора.
            </td>
        </tr>
        <tr>
            <td>{% set cnt3 = cnt3 + 1 %}{{ cnt }}.{{ cnt2 }}.{{ cnt3 }}</td>
            <td>
                Согласовывать с Исполнителем все действия, которые могут сделать невозможным или препятствовать оказанию Исполнителем услуг, предусмотренных настоящим договором.
            </td>
        </tr>
        <tr>
            <td>{% set cnt3 = cnt3 + 1 %}{{ cnt }}.{{ cnt2 }}.{{ cnt3 }}</td>
            <td>
                Возмещать иные, согласованные сторонами расходы Исполнителя, возникшие при выполнении условий настоящего Договора.<br>
            </td>
        </tr>
        <tr>
            <td>{% set cnt3 = cnt3 + 1 %}{{ cnt }}.{{ cnt2 }}.{{ cnt3 }}</td>
            <td>
                Бережно относиться к имуществу Исполнителя.
            </td>
        </tr>
        <tr>
            <td>{% set cnt3 = cnt3 + 1 %}{{ cnt }}.{{ cnt2 }}.{{ cnt3 }}</td>
            <td>
                Выполнять иные обязанности, предусмотренные действующим законодательством РФ
            </td>
        </tr>


    </table>

    <br>
    <h2>{% set cnt = cnt + 1 %}{{ cnt }}. РАЗМЕР ОПЛАТЫ УСЛУГ</h2><br>
    <table class="list">
        {% set cnt2 = 0 %}
        <tr>
            <td>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</td>
            <td>
                Стоимость услуг, указанных в п.2.2. (включая «Вождение учебного транспортного средства») Договора составляет  40 000 (Сорок тысяч)  рублей.<br>
            </td>
        </tr>
        <tr>
            <td>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</td>
            <td>
                В случае проведения льготных акций и предоставления Обучающемуся скидок, сумма скидки вычитается из
                стоимости оплаты по договору. Сумма скидки составляет<br>
                ________________________рублей.
            </td>
        </tr>
        <tr>
            <td>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</td>
            <td>
                Стоимость услуг, указанных в пункте 4.1. настоящего Договора , оплачиваются Обучающимся безналичным расчетом путем
                перечисления денежных средств на расчетный счет Исполнителя в размере 100% единовременным платежом или в рассрочку.<br>
            </td>
        </tr>
        <tr>
            <td>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</td>
            <td>
                При оплате в рассрочку платежи вносятся  частями в течение 45 календарных дней с момента заключения договора.
            </td>
        </tr>
        <tr>
            <td>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</td>
            <td>
                В случае восстановления Обучающегося, он оплачивает полную стоимость услуг, действующую на дату восстановления,
                без учета предоставленных скидок. Стоимость услуг, оплаченных им ранее в вышеуказанную цену не засчитывается.
            </td>
        </tr>
        <tr>
            <td>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</td>
            <td>
                Непосещение (пропуск, не изучение с использованием дистанционных образовательных технологий) Обучающимся занятий
                (дисциплин) без уважительных причин, не освобождает его от обязанности по оплате пропущенных (не изученных) занятий (дисциплин).<br>
            </td>
        </tr>

    </table>

    <br>
    <h2>{% set cnt = cnt + 1 %}{{ cnt }}. ОТВЕТСТВЕННОСТЬ СТОРОН</h2><br>
    <table class="list">
        {% set cnt2 = 0 %}
        <tr>
            <td>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</td>
            <td>
                За неисполнение или ненадлежащее исполнение обязательств по настоящему Договору стороны несут
                ответственность в соответствии с действующим законодательством.
            </td>
        </tr>
        <tr>
            <td>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</td>
            <td>
                В случае нарушения Обучающимся условий, предусмотренных настоящим Договором, Исполнитель вправе
                отказаться от исполнения взятых на себя обязательств.
            </td>
        </tr>
        <tr>
            <td>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</td>
            <td>
                Ни одна из сторон настоящего Договора не несет ответственности перед другой стороной за невыполнение
                обязательств, обусловленное форс-мажорными обстоятельствами, возникшими помимо воли и желания сторон, и
                которые нельзя предвидеть или избежать, такие как: объявленная или фактическая война, террористические
                акты, гражданские волнения, эпидемии, блокада, землетрясения, наводнения, ураганы, пожары и другие
                бедствия.
            </td>
        </tr>
        <tr>
            <td>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</td>
            <td>
                Документ, выданный соответствующим компетентным органом, является достаточным подтверждением наличия и
                продолжительности действия непреодолимой силы.
            </td>
        </tr>
        <tr>
            <td>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</td>
            <td>
                Сторона, которая не исполняет своего обязательства вследствие действия непреодолимой силы, должна
                немедленно известить другую сторону о препятствии и его влиянии на исполнение обязательств по Договору.
            </td>
        </tr>
        <tr>
            <td>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</td>
            <td>
                Исполнитель не несет ответственность за наличие у Обучающегося медицинских противопоказаний к управлению
                транспортными средствами.
            </td>
        </tr>
    </table>


    <br>
    <h2>{% set cnt = cnt + 1 %}{{ cnt }}. ПОРЯДОК РАЗРЕШЕНИЯ СПОРОВ</h2>
    <table class="list">
        {% set cnt2 = 0 %}
        <tr>
            <td>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</td>
            <td>
                Все споры и разногласия между сторонами, возникающие в период действия настоящего Договора, разрешаются
                сторонами путем переговоров.
            </td>
        </tr>
        <tr>
            <td>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</td>
            <td>
                В случае расторжения договора по основаниям, указанным в п.7.3. Договора возврат денежных средств, уплаченных Обучающимся, не осуществляется.
            </td>
        </tr>
        <tr>
            <td>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</td>
            <td>
                Положения, не урегулированные настоящим Договором, регулируются положениями действующего
                законодательства РФ.
            </td>
        </tr>
    </table>


    <br>
    <h2>{% set cnt = cnt + 1 %}{{ cnt }}. СРОК ДЕЙСТВИЯ ДОГОВОРА И ОСНОВАНИЯ ЕГО РАСТОРЖЕНИЯ</h2>
    <table class="list">
        {% set cnt2 = 0 %}
        <tr>
            <td>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</td>
            <td>
                Настоящий Договор вступает в силу с момента подписания Договора, и действует до полного исполнения
                сторонами своих обязательств по настоящему Договору.
            </td>
        </tr>
        <tr>
            <td>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</td>
            <td>
                Настоящий договор может быть изменен или расторгнут только по взаимному согласию сторон.
            </td>
        </tr>
        <tr>
            <td>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</td>
            <td>
                Исполнитель вправе в одностороннем порядке расторгнуть договор, в случае невыполнения обучающимся
                обязательств по добросовестному освоению образовательных программ и неисполнению учебного плана;
                систематического пропуска обучающимся учебных занятий без уважительной причины; нарушения обучающимся
                Устава Исполнителя, Правил внутреннего распорядка; наличия медицинского заключения о состоянии здоровья
                обучающегося, препятствующего его дальнейшему освоению программы по обучению; просрочке оплаты стоимости
                платных образовательных услуг; применение меры дисциплинарного наказания как отчисление; невозможности
                надлежащего исполнения обязательств по оказанию платных образовательных услуг вследствие действий
                (бездействий) Обучающегося.
            </td>
        </tr>
        <tr>
            <td>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</td>
            <td>
                Обучающийся вправе в любое время расторгнуть договор об оказании платных образовательных услуг. Датой
                расторжения договора считается дата поступления заявления от обучающегося. При расторжении договора
                Обучающийся оплачивает Исполнителю фактически понесенные расходы. В полном объеме возвращается стоимость
                неиспользованных талонов для прохождения практических занятий. По истечении срока действия, указанного
                на талоне возврат осуществляется только при наличии подтвержденных документально уважительных причин
                (болезнь, командировка и т.п.) и при условии отсутствия возможности переноса.
            </td>
        </tr>
    </table>

    <br>
    <h2>{% set cnt = cnt + 1 %}{{ cnt }}. ДОПОЛНИТЕЛЬНЫЕ УСЛОВИЯ.</h2>
    <table class="list">
        {% set cnt2 = 0 %}
        <tr>
            <td>{% set cnt2 = cnt2 + 1 %}{{ cnt }}.{{ cnt2 }}.</td>
            <td>
                Настоящий  Договор  составлен  в 2-х экземплярах,  по одному для каждой из сторон. Оба экземпляра Договора имеют одинаковую силу.
            </td>
        </tr>
    </table>

    <h2>{% set cnt = cnt + 1 %}{{ cnt }}. АДРЕСА И РЕКВИЗИТЫ СТОРОН</h2>
    <table class="requisites">
        <tr>
            <td><b>Исполнитель:</b></td>
            <td><b>Клиент:</b></td>
        </tr>
        <tr>
            <td>
                ООО «Альфа образование»<br>
                109316, г. Москва, Волгоградский пр-т. д. 32, корп. 4.<br>
                р\с 40702810300001441749 в  АО «Райффайзенбанк» г. Москва<br>
                к/с 3010181020000000700,<br>
                БИК 044525700<br>
                ОГРН 1067746581968<br>
                ИНН/КПП 7709676909/772301001<br>
                <br>
                Начальник автошколы<br>
                ООО «Альфа образование»<br>
                /Цибизов А.Б./<br>
            </td>
            <td>
                Адрес по прописке (регистрации): {{ user.registrationCountry }} {{ user.registrationRegion }}
                {{ user.registrationCity }} {{ user.registrationStreet }} {{ user.registrationHouse }}
                {{ user.registrationStroenie }} {{ user.registrationKorpus }} {{ user.registrationApartament }}<br>
                Номер телефона: {{ user.phoneMobile }} {{ user.phoneHome }}<br>
                Паспорт: {{ user.passportNumber }}
                выдан отделением {{ user.passportRovd }} {{ user.passportRovdDate|localizeddate('long', 'none') }}<br>
                Фамилия, Имя, Отчество: {{ user.lastName }} {{ user.firstName }} {{ user.patronymic }}<br>
                __________подпись

            </td>
        </tr>
        <tr>
            <td>М.П. __________подпись</td>
            <td></td>
        </tr>
    </table>

    <table class="requisites">
        <tr>
            <td>
                С «Программой подготовки водителей категории «В», Правилами вождения, копией устава и лицензии, а так же
                адресами обособленных подразделений организации, где проходит обучение, режимом их работы, расписанием
                занятий, графиком их посещения, учебным планом и локальными нормативными актами <b>ознакомлен</b>.
                «Карточку прогресса водительских навыков» <b>получил</b>.
                __________подпись
            </td>
        </tr>
        <tr>
            <td>
                Тему «Движение с прицепом» прошу <b>заменить/не заменять</b> другими темами по разделу _____________подпись
            </td>
        </tr>
    </table>

    <br>
</div>
<br>
</body>
<br>
</html>