{% extends "AppBundle::layout_new.html.twig" %}

{% block content %}
<nav class="path">
    <a href="{{ path('homepage') }}">{{ 'titles.homepage'|trans }}</a>
    » <a href="{{ path('my_trainings') }}">{{ 'titles.trainings'|trans }}</a>
    » <a href="{{ path('my_training', { id: slice.afterTheme.subject.id }) }}">{{ slice.afterTheme.subject.title }}</a>
    » <strong>{{ 'slice_title'|trans }}</strong>
</nav>

<div class="mainContent">
    {% include 'AppBundle::_paid2_counter.html.twig' %}
    {% include 'AppBundle::_owe_stage_paid.html.twig' %}

    <div class="title"><h1>{{ 'slice_max_errors'|trans }}</h1></div>
    {{ settings_notifies['training_slice_max_errors']|raw }}
    <div class="links">
        <a class="bg-red" href="{{ path('my_training', { id: slice.afterTheme.subject.id }) }}">{{ 'slice_list'|trans }}</a>
    </div>
</div>
{% endblock content %}
